.GNL {
    &__toolbar {
        height: 64px;
    }

    &__drawer-item {
        line-height: 24px;
        border-radius: 0 24px 24px 0;
        margin-right: 12px;
    }
}
.GL {
    &__menu-link:hover {
        background: #4e95e7;
        color: white;
    }
}